.com-cell {
  display: flex;
  flex-direction: column;
  // padding: $space-xs 0;
  padding-bottom: $space-sm;
  flex: none;
  & + & {
    padding-top: $space-sm;
  }
  &:last-child {
    padding-bottom: 0;
  }
  & + .alert {
    margin-top: $space-sm;
  }
}
.com-cell-info {
  &__text {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    color: var(--c-07-neutral-neutral-400);
  }
}

//cell__form component
.com-cell__form {
  position: relative;

  & + .com-cell__form {
    margin-top: $space-sm;
  }
  &.-filled {
    .form-group {
      background-color: transparent;
      border-radius: 0;
      border-bottom: 1px solid var(--c-07-neutral-neutral-100);
      @include autofill(transparent);
    }
  }
  & + .com-cell__verify-group,
  & + .com-cell__verify-format {
    padding-top: $space-lg;
  }

  &.-disabled {
    border: 1px solid transparent;
    cursor: no-drop;
    .el-select input {
      background-color: transparent !important;
      @include input-placholder {
      }
    }
  }

  //form-title
  .form-title {
    display: flex;
    align-items: center;
    position: relative;
    &__text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: var(--c-10-grand-grand-1);
      margin: 0;
      word-break: break-all;
    }
    & + .form-group,
    & + .filter-select {
      margin-top: $space-xs;
    }
  }

  //form-group
  .form-group,
  .filter-select {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: var(--c-07-neutral-neutral-100);
    padding: 0 $space-lg;
    border-radius: calc($bod-default / 2);
    border: 1px solid transparent;

    //input
    .el-input,
    .form-password {
      width: 100%;
      padding: $space-md 0;
      box-shadow: none;
      background: none;
      font-size: 16px;
      line-height: 24px;
      flex: 1;
      font-weight: 500;
      @include input-placholder {
        font-size: 16px;
        line-height: normal;
        letter-spacing: initial;
      }
      @include autofill;
      //隱藏edge密碼輸入眼精
      &[type='password'] {
        &::-ms-reveal,
        &::-ms-clear {
          display: none;
        }
      }
    }
    .el-input {
      /* Firefox */
      &[type='number'] {
        -moz-appearance: textfield;
      }
      & ~ .resend-group {
        margin-left: $space-lg;
      }
    }
    .country-code {
      padding: $space-md 0;
      &__text {
        font-size: 16px;
        line-height: calc(16px + 1px);
        margin: 0;
        font-weight: 500;
      }
      & + .el-input {
        padding-left: $space-xs;
      }
    }
    //select
    .el-select {
      width: 100%;
      background-color: transparent;
      position: relative;
      text-align: left;
      text-align-last: left;
      padding: 0;
      font-size: 16px;
      input {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-right: $space-md + 18px;
        background-color: var(--c-07-neutral-neutral-100);
        @include input-placholder;
      }
    }

    //value
    .el-value {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: auto;
      [class^='el-value__'] {
        margin-left: $space-sm;
      }
      // &__clear,
      &__reveal,
      &__correct {
        width: 24px;
        height: 24px;
        display: block;
        margin: auto;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        flex: none;
        cursor: pointer;
      }
      &__reveal {
        mask-image: url('@design/icon/icon_icon_view@2x.png');
        background-color: var(--c-07-neutral-neutral-800);
        &.-off {
          mask-image: url('@design/icon/icon_icon_view_close@2x.png');
        }
      }
      &__clear {
        width: 24px;
        height: 24px;
        mask-image: url('@design/icon/icon_icon_cross_circle_fill@2x.png');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        background-color: var(--c-07-neutral-neutral-400);
        cursor: pointer;
      }
    }
  }
  .form-group {
    &__sel {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      background-color: transparent;
      padding-top: 0;
      padding-left: 0;
      padding-right: $space-md + $space-xxxxl + $space-sm;
      font-size: 16px;
      // color: var(--brand-color-normal-placeholder);
      @include text-ellipsis;
    }
  }

  .filter-select {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    .el-select {
      display: flex;
      align-items: center;
      padding: 0 40px + $space-lg 0 $space-lg;
      height: 100%;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: $space-lg;
        bottom: 0;
        margin: auto;
        width: 24px;
        height: 24px;
        mask-image: url('@design/icon/icon_icon_arrows_chevron_down@2x.png');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;        
        background-color: var(--c-07-neutral-neutral-500);
        z-index: 1;
        transition: transform 0.2s;
      }
      input {
        margin-right: $space-sm;
        height: 100%;
      }
    }
    &.-show {
      .el-select {
        &::before {
          transform: perspective(1000px) rotateX(180deg);          
        }
      }
      .filter-search {
        &__wrap {
          border-top: 1px solid var(--c-07-neutral-neutral-900-10);
          border-bottom: 1px solid var(--c-07-neutral-neutral-900-10);
        }
      }
      // .filter-search {
      //   display: block;
      // }
    }
  }

  //invalid錯誤
  &.-invalid {
    .form-group {
      border-color: var(--c-06-danger-danger-0-500);
      .el-value {
        &__check {
          display: flex;
          background-image: url('@design/icon/icon_icon_attention@2x.png');
        }
      }
    }
  }
  & + .com-cell-info {
    padding-top: $space-lg;
  }
}

//cell__verify component
.com-cell__verify {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // .verify-icon {
  //   background-size: contain;
  //   width: 24px;
  //   height: 24px;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   position: relative;
  //   margin: 0;
  //   flex: none;
  // }

  .verify-text {
    font-size: 12px;
    color: var(--c-07-neutral-neutral-400);
    line-height: 18px;
    word-break: break-all;
    margin: 0;
    padding-left: $space-sm;
  }

  //正確反饋
  // &.-correct {
  //   .verify-text {
  //     // color: var(--brand-color-tertiary-desaturation);
  //   }
  //   .verify-icon {
  //     background-image: url('@design/icon/icon_icon_check_active@2x.png');
  //     background-size: contain;
  //   }
  // }

  //強反饋
  &.-error {
    .verify-text {
      color: var(--c-06-danger-danger-0-500);
    }
    // .verify-icon {
    //   // background: url('@design/icon/icon_mistake@2x.png') no-repeat center center;
    //   background-size: contain;
    //   // background-color: var(--brand-color-danger-default);
    // }
  }

  //中反饋
  // &.-medium {
  //   .verify-text {
  //     // color: var(--brand-color-warning-default);
  //   }
  //   .verify-icon {
  //     // background: url('@design/icon/icon_mistake@2x.png') no-repeat center center;
  //     background-size: contain;
  //     // background-color: var(--brand-color-warning-default);
  //   }
  // }
  & + .com-cell-info {
    padding-top: $space-lg;
  }
}
.com-cell__verify-format {
  display: flex;
  align-items: center;
  transition-property: height, padding; 
  transition-duration: 0.2s;
  overflow: hidden;
}
.com-cell__verify-group {
  display: flex;
  align-items: center;
  .com-cell__verify,
  .verify-btn {
    padding-top: 0;
    margin-top: $space-md;
  }
}

//格式檢查
.format-checker {
  display: flex;
  width: 100%;
  .checker-text {
    font-size: 12px;
    color: var(--brand-color-danger-default);
    & + .checker-list {
      margin-left: $space-xxs;
    }
  }
  .checker-list {
    display: flex;
    flex-direction: column;
    &__item {
      flex: none;
      display: flex;
      align-items: flex-start;
      min-height: 28px;
      &__img {
        width: 24px;
        height: 24px;
        flex: none;
        mask-image: url('@design/icon/icon_icon_check@2x.png');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: var(--c-07-neutral-neutral-200);
        & + .checker-list__item__text {
          padding-left: $space-sm;
        }
      }
      &__text {
        font-size: 12px;
        line-height: 18px;
        color: var(--c-07-neutral-neutral-400);
        margin: 0;
        padding-top: $space-xs;
        word-break: break-all;
      }
      & + .checker-list__item {
        padding-top: $space-xxs;
      }
      &.-checked {
        .checker-list__item {
          &__img {
            mask-image: url('@design/icon/icon_icon_check_active@2x.png');
            background-color: var(--c-04-success-success-0-500);
          }
          &__text {
            color: var(--c-10-grand-grand-1);
          }
        }
      }
    }
  }
}

.resend-group {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--c-07-neutral-neutral-400);
  line-height: 20px;
  &__text {
    margin: 0;
    font-weight: 600;
  }
  &__num {
    margin: 0;
    width: 18px;
    text-align: center;
  }
}
.filter-search {
  position: absolute;
  background-color: var(--c-07-neutral-neutral-100);
  top: 47px;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 2px 6px 0 var(--c-08-black-black-10);
  // display: none;
  border-radius: 0 0 calc(#{$bod-default} / 2);
  transition: height 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: none;
  &__wrap {
    flex: none;
    padding: 0 $space-lg;
    display: flex;
    align-items: center;
    height: 52px;
    transition: height 0.2s;
    overflow: hidden;
  }
  &__bar {
    width: 100%;
    display: flex;
    padding: 0 $space-lg;
    background-color: var(--c-07-neutral-neutral-50);
    border-radius: $bod-round;
    height: 36px;
    align-items: center;
    &__img {
      width: 24px;
      height: 24px;
      flex: none;
      mask-image: url('@design/icon/icon_icon_search@2x.png');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: var(--c-07-neutral-neutral-400);
      & + .filter-search__bar__input {
        margin-left: $space-sm;
      }
    }
    &__input {
      width: 100%;
      background: none;
      font-size: 16px;
      color: var(--c-10-grand-grand-1);
      @include input-placholder;
      font-weight: 400;
      padding: $space-sm 0;
      height: 100%;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 240px;
    transition: height 0.2s;
    flex: none;
    &__item {
      padding: $space-sm $space-lg;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      .item-start,
      .item-end {
        &__text {
          margin: 0;
          color: var(--c-10-grand-grand-1);
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
        }
      }
      .item-start {
        flex: 1;
      }
      .item-end {
        flex: none;
      }
      &.-active,
      &:hover {
        background-color: var(--c-07-neutral-neutral-200);
      }
    }
  }
}
.com-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__content-footer {
    .btn-group {
      padding-top: $space-xxl;
    }
  }
}
