$switch-w: 51px;
$switch-h: 31px;

.el-switch {
  box-sizing: border-box;
}

.el-switch-style {
  box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }
}

.el-switch {
  display: flex;
  height: $switch-h;
  position: relative;
  font-size: 14px;

  .el-switch-style {
    width: $switch-w;
    height: $switch-h;
    left: 0;
    background-color: var(--c-07-neutral-neutral-300);
    border-radius: $bod-round;
    display: inline-block;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:before {
      width: 27px;
      height: 27px;
      display: block;
      content: '';
      position: absolute;
      background-color: var(--c-09-white-white);
      border-radius: 50%;
      left: 0;
      top: 0;
      bottom: 0;
      margin: 2px;
      box-shadow: 0 2px 6px 0 var(--c-08-black-black-10);
      transition: all 0.2s;
    }
  }

  > input[type='checkbox'] {
    display: none;

    &[disabled] + .el-switch-style {
      cursor: not-allowed;
      &::before {
        background-color: var(--c-09-white-white-50);
      }
    }

    &:checked {
      + .el-switch-style {
        background-color: var(--c-01-primary-primary-0-500);

        &::before {
          transform: translateX(20px);
        }
      }
    }
  }
}
