.el-radio {
  display: flex;
  align-items: center;
  position: relative;
  .el-radio-input {
    display: none;
    & + .el-radio-style {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        border-radius: $bod-circle;
        border: 1px solid var(--c-07-neutral-neutral-400);
        background-color: var(--c-07-neutral-neutral-50);
        box-sizing: border-box;
      }
      &:after {
        content: '';
        display: none;
        width: 8px;
        height: 8px;
        border-radius: $bod-circle;
        box-sizing: border-box;
        background-color: var(--c-07-neutral-neutral-50);
        position: relative;
        z-index: 1;
      }
    }
    &:checked {
      & + .el-radio-style {
        &:before {
          border-color: var(--c-01-primary-primary-0-500);
          background-color: var(--c-01-primary-primary-0-500);
        }
        &:after {
          display: block;
        }
      }
      &[disabled] {
        & ~ .el-radio-style {
          &:before {
            border-color: var(--c-01-primary-primary-300);
            background-color: var(--c-01-primary-primary-300);
          }
        }
      }
    }
    &[disabled] {
      cursor: not-allowed;
      & + .el-radio-style {
        cursor: not-allowed;
        &:hover,
        &:before,
        &:after {
          cursor: not-allowed;
        }
        &:after {
          background-color: var(--c-09-white-white-50);
        }
        &:before {
          border-color: var(--c-07-neutral-neutral-300);
          background-color: var(--c-07-neutral-neutral-100);
        }
      }
    }
    & ~ .el-radio-label {
      margin-left: $space-sm;
      display: flex;
      align-items: center;
      color: var(--c-10-grand-grand-1);
      font-size: 16px;
      cursor: pointer;
    }
  }
}
